
.main-content {
  background-image: url('../public/background1.png'); /* Adjust path as needed */
  background-size: cover;
  background-position: center;
  height: calc(100vh - 150px); /* Adjust height as needed, subtract header and footer height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  margin-bottom: 20px; /* Adjust as needed */
  text-align: center;
}

.punchline {
  font-size: 4rem; /* Increased font size */
  font-family: 'Montserrat', sans-serif; /* Montserrat font */
  color: rgb(65, 62, 62); /* Black color text */
  margin-bottom: 250px; /* Reduced space below to bring it up */
  /* Additional styling */
}

.buttons-container {
  text-align: center;
}

.btn {
  background-color: var(--color-green);
  color: var(--color-white);
  border: 2px solid transparent; /* Adds a border which can be styled for hover/active states */
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease; /* Smooth transition for hover and active states */
  border-radius: 5px; /* Gives a rounded corner to the button */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
}

.btn:hover {
  background-color: var(--color-dark-green); /* A darker shade for hover effect */
  border-color: var(--color-white); /* Changes border color on hover */
}

.btn:active {
  transform: translateY(2px); /* Slightly moves the button down when pressed */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjusts the shadow to give a pressed effect */
}


:root {
  --color-white: #FFFFFF;
  --color-green: #97B498; /* Adjust the shade of green as needed */
  --color-black: #000000;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  /* Other global styles */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
